<!--------------------------  流量主组件群  ----------------------------------->
<!-- 风格一 -->
<script type="text/html" id="tpl_show_flow">
    <div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>" data-id="<%group_name%>">
        <div class="model-flow model-flow1">
            <div class="flow-info">
                <div class="flow-top">banner广告</div>
                <div class="flow-content">流量主广告</div>
            </div>
        </div>
    </div>
</script>
<!-- 风格二 -->
<script type="text/html" id="tpl_show_flow2">
    <div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>" data-id="<%group_name%>">
        <div class="model-flow model-flow1">
            <div class="flow-info">
                <div class="flow-top">激励式广告</div>
                <div class="flow-content">流量主广告</div>
            </div>
        </div>
    </div>
</script>
<!-- 风格三 -->
<script type="text/html" id="tpl_show_flow3">
    <div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>" data-id="<%group_name%>">
        <div class="model-flow model-flow1">
            <div class="flow-info">
                <div class="flow-top">插屏广告</div>
                <div class="flow-content">流量主广告</div>
            </div>
        </div>
    </div>
</script>
<!-- 风格四 -->
<script type="text/html" id="tpl_show_flow4">
    <div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>" data-id="<%group_name%>">
        <div class="model-flow model-flow1">
            <div class="flow-info">
                <div class="flow-top">视频广告</div>
                <div class="flow-content">流量主广告</div>
            </div>
        </div>
    </div>
</script>
<!-- 风格五 -->
<script type="text/html" id="tpl_show_flow5">
    <div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>" data-id="<%group_name%>">
        <div class="model-flow model-flow1">
            <div class="flow-info">
                <div class="flow-top">视频贴片广告</div>
                <div class="flow-content">流量主广告</div>
            </div>
        </div>
    </div>
</script>
<!-- 风格六 -->
<script type="text/html" id="tpl_show_flow6">
    <div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>" data-id="<%group_name%>">
        <div class="model-flow model-flow1">
            <div class="flow-info">
                <div class="flow-top">格子广告</div>
                <div class="flow-content">流量主广告</div>
            </div>
        </div>
    </div>
</script>

