<!--------------------------  公告组件群  ----------------------------------->
<!-- 风格一 -->
<script type="text/html" id="tpl_show_notice">
    <div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>" data-id="<%group_name%>">
        <div class="fui-notice" style="margin-bottom:<%style.marginbottom%>px">
            <div class="i " ></div>
            <div class="text text1">这里将读取平台的公告进行滚动显示</div>
        </div>
    </div>
</script>
<!-- 风格二 -->
<script type="text/html" id="tpl_show_notice2">
    <div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>"  data-id="<%group_name%>">
        <div class="fui-notice" style="margin-bottom:<%style.marginbottom%>px">
            <div class="title">公告</div>
            <div class="text">这里将读取平台的公告进行滚动显示</div>
        </div>
    </div>
</script>
<!-- 风格三 -->
<script type="text/html" id="tpl_show_notice3">
    <div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>"  data-id="<%group_name%>">
        <div class="fui-notice" style="margin-bottom:<%style.marginbottom%>px">
            <div class="title3"><%params.title%></div>
            <div class="text">这里将读取平台的公告进行滚动显示</div>
        </div>
    </div>
</script>