<!--------------------------  统计(掌上信息)组件群  ----------------------------------->
<!-- 风格一 -->
<script type="text/html" id="tpl_show_suprapalmar_statistics">
	<div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>" data-id="<%group_name%>">
		<div class="suprapalmar_statistics"
			style="background-color: <%style.bgColor%>;padding: <%style.mardding%>px;margin-bottom: <%style.marginBottom%>px;box-sizing: border-box;">
	
			<div class="" style="background-color: #ffffff; display: flex; align-items: center; border-radius: <%style.borderRds%>px; padding: <%style.padding%>px;">
				<div>
					<img src="<%imgsrc params.logo%>" style="width: 26px; height: 20px;" />
				</div>
				<div style="display: flex; justify-content: space-between; width: 312px; margin-left: 10px;">
					<span style="font-size: 14px;">
						浏览：
						<span style="color: <%style.fontSizColor%>;">999</span>
					</span>
					<span style="font-size: 14px;">
						发布：
						<span style="color: <%style.fontSizColor%>;">999</span>
					</span>
					<span style="font-size: 14px;">
						分享：
						<span style="color: <%style.fontSizColor%>;">999</span>
					</span>
				</div>
			</div>
		
		</div>
	</div>
</script>
<!-- 风格二 -->
<script type="text/html" id="tpl_show_suprapalmar_statistics2">
	<div class="drag" data-itemid="<%itemid%>" group_name="<%group_name%>" group_key="<%group_key%>" data-id="<%group_name%>">
		<div class=""
			style="background-color: <%style.bgColor%>;padding: <%style.mardding%>px;margin-bottom: <%style.marginBottom%>px;">
			<div class="" style="background-color: #ffffff; display: flex; justify-content: space-around;padding: <%style.padding%>px;border-radius: <%style.borderRds%>px;">
				<span style="font-size: 12upx; color: <%style.titleColor%>; text-align: center;">
				<!-- <span style="font-size: 12px;">万</span> -->
					<div style="font-size: 18px; color: <%style.fontSizColor%>; font-weight: bold;">999</div>
					浏览
				</span>
				<span style="font-size: 12upx; color: <%style.titleColor%>; text-align: center;">
					<div style="font-size: 18px; color: <%style.fontSizColor%>; font-weight: bold;">999</div>
					发布
				</span>
				<span style="font-size: 12upx; color: <%style.titleColor%>; text-align: center;">
					<div style="font-size: 18px; color: <%style.fontSizColor%>; font-weight: bold;">999</div>
					分享
				</span>

			</div>
		</div>
	</div>
</script>
