<div class="modal-dialog" style="min-width: 60%!important;">
    <div class="modal-content">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">获取图文信息</h4>
        </div>
        <div class="modal-body form-horizontal">
            <!--提示-->
            <div class="alert alert-warning">
                1.下方输入框中输入链接，可以采集微信内容链接。<br />
                2.可以使用微信内容，135内容复制到编辑器中即可。<br />
                温馨提示：视频，过于复杂的样式，背景图，可能会导致采集失败。
            </div>
            <!--输入框-->
            <div class="app-table-list">
                <div class="panel panel-default">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" id="importLink" class="form-control" value=""/>
                        </div>
                    </div>
                </div>
            </div>
            <!--按钮-->
            <div class="app-table-foot clearfix">
                <div class="pull-left"></div>
                <div class="pull-right">
                    <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                    <button id="importDetail" type="button" class="btn btn-primary">导入</button>
                </div>
            </div>
        </div>
    </div>
</div>