<div class="form-group sms-template-1 data-item">
    <label class="col-sm-2 control-label">当前价格大于</label>
    <div class="col-sm-9 col-xs-12">
        <div class="input-group form-group col-sm-3" style="margin: 0px;padding-right: 0;float: left;">
            <input type="text" name="rule_pice[]" class="form-control valid rule_pice" value="{$data['rule_pice']}">
        </div>
        <div class="input-group form-group col-sm-3" style="margin: 0px;padding-right: 0;float: left;">
        	<span class="input-group-addon" >砍价范围从</span>
            <input type="text" name="rule_start[]" class="form-control valid rule_start" value="{$data['rule_start']}">
        </div>
        <div class="input-group form-group col-sm-3" style="margin: 0px;padding-right: 0;float: left;">
        	<span class="input-group-addon" >到</span>
            <input type="text" name="rule_end[]" class="form-control valid rule_end" value="{$data['rule_end']}">
            <span class="input-group-addon btn btn-default data-item-delete"><i class="fa fa-remove"></i> 删除</span>
        </div>
    </div>
</div>






