<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />-->
	{php $cloudset = Cloud::wl_syssetting_read('base');}
	<title>{if $_W['title']}{$_W['title']}{elseif $cloudset['name']}{$cloudset['name']}{else}智慧城市同城{/if}</title>
	<link rel="shortcut icon" href="{if !empty($cloudset['logo'])}{php echo tomedia($cloudset['logo']);}{else}{$_W['siteroot']}{$_W['config']['upload']['attachdir']}/images/global/wechat.jpg{/if}" />
	<link rel="stylesheet" href="{$_W['siteroot']}web/resource/css/bootstrap.min.css">
	<link rel="stylesheet" href="{URL_WEB_COPM}font-awesome-4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="{URL_WEB_COPM}icon/iconfont.css">
	<link href="{$_W['siteroot']}web/resource/css/common.css?v=20170802" rel="stylesheet">
	<link rel="stylesheet" href="{URL_WEB_CSS}common_v2.css">
	<link rel="stylesheet" href="{URL_WEB_CSS}style.min.css">
	{if !empty($_GPC['lct'])}<style>body{background: #FFFFFF;}</style>{/if}
	<script type="text/javascript">
		if(navigator.appName == 'Microsoft Internet Explorer'){
			if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
				alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
			}
		}
		window.sysinfo = {
		{if !empty($_W['uniacid'])}'uniacid': '{$_W['uniacid']}',{/if}
		{if !empty($_W['acid'])}'acid': '{$_W['acid']}',{/if}
		{if !empty($_W['openid'])}'openid': '{$_W['openid']}',{/if}
		{if !empty($_W['uid'])}'uid': '{$_W['uid']}',{/if}
		{if !empty($_W['aid'])}'aid': '{$_W['aid']}',{/if}
		'siteroot': '{$_W['siteroot']}',
				'siteurl': '{$_W['siteurl']}',
				'attachurl': '{$_W['attachurl']}',
				'attachurl_local': '{$_W['attachurl_local']}',
				'attachurl_remote': '{$_W['attachurl_remote']}',
				{if defined('MODULE_URL')}'MODULE_URL': '{MODULE_URL}',{/if}
		'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'},
		'account' : {php echo json_encode($_W['account'])},
		'source':{if is_agent()}'agent'{elseif is_store()}'store'{else}'admin'{/if},
		};
	</script>
	<script>var require = { urlArgs: 'v={php echo date('YmdH');}' };</script>
	<script type="text/javascript" src="{$_W['siteroot']}web/resource/js/lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{URL_WEB_JS}vue.js"></script>
	<script type="text/javascript" src="{URL_WEB_JS}html2canvas.js"></script>
	<script type="text/javascript" src="{URL_WEB_COPM}layer/layer.js"></script>
	<script type="text/javascript" src="{$_W['siteroot']}web/resource/js/lib/bootstrap.min.js?v=20170208"></script>
	<script type="text/javascript" src="{URL_WEB_JS}util.js"></script>
	<script type="text/javascript" src="{$_W['siteroot']}web/resource/js/app/common.min.js"></script>
	<script type="text/javascript" src="{$_W['siteroot']}web/resource/js/require.js"></script>
	<script type="text/javascript" src="{URL_WEB_JS}weliam.js"></script>
	<script type="text/javascript" src="{URL_MODULE}web/resource/js/common.js"></script>


	<script type="text/javascript" src="{$_W['siteroot']}/web/resource/components/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="{$_W['siteroot']}/web/resource/components/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript" src="{$_W['siteroot']}/web/resource/components/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>